footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  .logo {
    height: 50px;
  }
  .get-socials {
    width: 50px;
    margin: 0 auto;
    img {
      width: 25px;
    }
  }
  p {
    color: $dark-purple;
    text-align: center;
    font-size: $font-size-sm;
    a {
      color: $dark-purple;
    }
    a:active,
    a:hover {
      color: $dark-purple;
    }
  }
}
