footer {
  .footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;

    .contact-info-footer {
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      .info-wrapper {
        padding: 0 10px;
        p {
          text-align: left;
          margin: 0;
          font-size: $font-size-md;
        }
      }
    }
  }
  .logo {
    height: 65px;
  }
  .get-socials {
    width: 30px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    img {
      width: 25px;
    }
  }
  p {
    color: $primary-dark;
    text-align: center;

    font-size: $font-size-sm;
    a {
      color: $primary-dark;
    }
    a:active,
    a:hover {
      color: $primary-dark;
    }
  }
  .footer-sub-title {
    color: $secondary-dark;
    margin: 0;
    padding: 0;
    font-size: $font-size-lg;
  }
}
.contact-info-footer {
  display: flex;
}
.copyright {
  padding: 10px;
  margin: 0 auto;
  text-transform: capitalize;
}

@media screen and (max-width: $mediaQ-tablet) {
  //footer
  .footer {
    margin-top: 40px;
    flex-direction: column;
  }
}
@media screen and (max-width: ($mediaQ-phone-tablet - 0.01)) {
  //footer
  footer {
    .footer {
      .logo {
        width: 70%;
      }
      .contact-info-footer {
        align-items: flex-start;
        flex-direction: column;
      }
      .get-socials {
        flex-direction: row;
      }
    }
  }
}
