.App-header {
  font-family: $default-font;
  background: #fff;
  display: flex;

  img {
    // float: right;
    width: 80%;
    margin: 0 10%;
  }
  a {
    text-align: left;
    justify-self: end;
    text-decoration: none;
    color: $accents-secondary;
  }
  .active {
    color: $primary !important;
  }
  .navHeader {
    @extend %pageCenter;

    background: #fff;
    display: flex;
    align-items: center;
    margin: 0 auto;
    flex-direction: column;

    border-bottom: 1px solid $dirty-gold;
    ul {
      padding: 0;
    }

    &__toggle {
      background: none !important;
      border: none;
      position: absolute;
      cursor: pointer;
      margin: 0rem 1rem;
      top: 2rem;

      svg {
        width: 1.7rem;
        fill: $accents-secondary-light;
      }
      .close {
        display: none;
        float: left;
      }

      .menu {
        margin-top: 0.2rem;
      }
    }

    // &__checkbox {
    //   display: none;
    // }

    &__menu {
      display: flex;
      flex-direction: column;

      align-items: left;
      margin: 1rem;

      li {
        list-style: none;
        display: block;
        &:last-child {
          display: none;
        }
      }

      &__item {
        a {
          color: $accents-secondary-light;
          // width: auto;
          font-family: $default-font;
          font-size: $font-nav;
          font-variant-caps: all-petite-caps;
          margin: 0 10px;
          text-decoration: none;
        }
        a:hover {
          color: $primary;
        }
      }

      svg {
        width: 1.5rem;
        fill: $accents-primary;
      }
    }
  }

  //Change from menu to close icon on tap
  .close_menu {
    svg.menu {
      display: none;
    }
    svg.close {
      display: block;
    }
  }

  .open_menu {
    svg.menu {
      display: block;
    }
    svg.close {
      display: none;
    }
  }
}

.floating-socials {
  display: flex;
  flex-direction: column;
  right: 0;
  z-index: 1;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.5);
  img {
    margin: 2px 0;
    width: 34px;
  }
}

.nav-quick-contact {
  width: 92%;
  // padding-top: 10px;
  margin: 20px 10px;
  text-align: left;
  border-top: 1px solid $dirty-gold;
  p {
    color: $accents-secondary-light;
    font-size: $font-nav-sm;
    margin-bottom: 0;
    margin-top: 10px;
  }
  a {
    color: $secondary !important;
  }
  a:hover {
    background: none !important;
  }
  .nav-media-socials {
    // display: none;
    display: flex;

    width: 70px;
    padding: 0 !important;

    li {
      list-style-type: none;

      img {
        width: 30px !important;
      }
    }
  }
}
