.App-header {
  font-family: $default-font;
  // width: 1400px;
  background: #fff;

  img {
    width: 80%;
    // display: flex;
    margin: 0 10%;
  }
  a {
    align-self: left;
    justify-self: end;
    text-decoration: none;
    color: $dark-grey;
  }
  // .headerline {
  //   width: 110vw;
  //   background-color: $gold;
  //   z-index: 1;
  //   left: -13%;
  //   position: relative;
  //   margin-bottom: 0;
  // }
  .navbar {
    justify-content: center;
  }
  .navHeader {
    @extend %pageCenter;
    background: #fff;
    display: flex;
    // justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    flex-direction: column;
    // width: 1400px;
    border-bottom: 1px solid $dirty-gold;
  }
  .nav {
    display: flex;
    align-items: baseline;

    list-style-type: none;
  }
  .fullWidth-line {
    width: 100%;
    // padding: 0 20px;
  }
  .sub-menu {
    display: flex;
    flex-direction: column;
    background-color: $violet;
    width: 200px;
    margin: 30px 0 !important;
    font-size: $font-nav;

    .dropdown-item {
      padding: 5px 0;
    }
  }

  .mainNav .nav-link {
    background-color: #fff;
    border: none;
    color: $grey;
    width: auto;
    font-family: $default-font;
    font-size: $font-nav;
  }
  .nav-link {
    margin: 0 35px;
  }
  .dropdown-menu {
    background: $violet;
    width: 100%;
    text-align: left;
    margin-top: 15px !important;
    :hover {
      color: $violet-light;
      background: white;
    }
    .dropdown-item.active,
    .dropdown-item:active {
      background-color: $violet-light !important;
      color: $dark-purple;
    }
  }
  .nav-dropdown-special {
    display: flex;
  }
  .navbar-collapse {
    // height: 100vh;
  }
  .navbar .mainNav .nav-link:hover {
    color: $dark-purple;
  }

  .mainNav .dropdown-toggle {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-top: 3px solid $grey;
    border-right: 3px solid $grey;
    transform: scale(0.8) rotate(135deg);
    margin: 0 0 0 5px;
    padding: 6px;

    // position: absolute;
    &::after {
      vertical-align: 0;
    }
  }
  .navbar-toggler {
    border: none;
    // position: absolute;

    // top: -80px;
  }
  .navbar-collapse {
    // width: 80vw;
  }
  .navbar-toggler-icon {
    background-image: url(../../images/hamburgerMenu.png) !important;
  }
  .dropdown-toggle:hover {
    border-top: solid $dark-purple;
    border-right: solid $dark-purple;
  }
}

.floating-socials {
  display: flex;
  flex-direction: column;
  right: 0;
  z-index: 5;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.5);
  img {
    margin: 2px 0;
    width: 34px;
  }
}

.nav-media-socials {
  display: none;
  height: 100px;
}
