.areas-of-service {
  width: 50%;
  .h1-title {
    text-align: center;
    hr {
      width: 60%;
    }
  }
  .areas-of-service-map {
    iframe {
      width: 100%;
      height: 500px;
    }
    margin: 0 auto;
  }

  .commuting-chart {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

    &-blurb {
      margin-top: 20px;
    }
  }
  .services-area-1,
  .services-area-2,
  .services-area-3,
  .services-area-4,
  .services-area-5 {
    margin-top: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: $accents-secondary-light;

    p {
      margin: 0 0 0 5px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .icon {
      width: 100%;
      height: 20px;
    }
  }

  .services-area-1 .icon {
    background-color: $accents-primary-light;
  }
  .services-area-2 .icon {
    background-color: rgb(198, 69, 69);
  }
  .services-area-3 .icon {
    background-color: rgb(247, 140, 121);
  }
  .services-area-4 .icon {
    background-color: $primary;
  }
  .services-area-5 .icon {
    background-color: rgb(89, 131, 189);
  }
}

.contactUs {
  @extend %pageCenter;
  margin-top: 30px;
  background: $primary-lightest;
  padding: 30px 20px 20px;
  display: flex;
  .h1-title,
  .h3-title {
    margin: 0;
  }

  .beforeYouBookList {
    font-size: $font-size-md;
    color: $accents-secondary;
    padding-left: 0;
    list-style-type: none;
  }
  .contactUs-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-right: 30px;
    color: $accents-secondary;
    width: 60%;
    .beforeYouBookText {
      margin: 5px 0;
    }
    .book-info {
      padding: 25px 0;
      * {
        padding: 5px 0;
      }
    }

    .h2-title {
      color: $accents-primary;
      margin: 0;
    }
    .email-us {
      color: $accents-primary;
    }
    .online-booking {
      display: inline-block;
      padding: 5px 10px;
      margin: 10px 0;
      width: 100%;
    }
  }
}
.Faq-statement {
  @extend %pageCenter;
  display: flex;
  flex-direction: column;
  margin: 40px auto;
  padding: 30px 60px 50px;
  text-align: center;
  color: $accents-secondary;
  width: fit-content;
  background-color: $primary-lighter;
  border: 2px dotted $secondary;
  border-radius: 20px;
}

@media screen and (max-width: $mediaQ-tablet) {
  //contact us page
  .areas-of-service {
    margin-top: 40px;
    padding: 0 2%;
    width: 100%;

    .commuting-chart {
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-evenly;
    }
    iframe {
      height: 300px;
    }
  }
  .contactUs {
    flex-direction: column;
    .contactUs-content {
      width: 100%;
    }
  }
}
