.areas-of-service {
  @extend %pageCenter;
  h1 {
    text-align: center;
    hr {
      width: 60%;
      left: 0;
    }
  }
  .areas-of-service-map {
    iframe {
      width: 100%;
      height: 500px;
    }

    margin: 0 auto;
  }
  .commuting-chart {
    display: flex;
    align-items: center;
    justify-content: space-between;
    p {
      font-size: $font-size-sm;
      color: $grey;
    }
    .blurb {
      margin-top: 20px !important;
    }
  }
  .services-area-1,
  .services-area-2,
  .services-area-3 {
    margin-top: 10px;
    display: flex;
    align-items: center;
    p {
      margin: 0 0 0 5px;
    }

    .icon {
      width: 65px;
      height: 24px;
    }
  }

  .services-area-1 .icon {
    background-color: $dark-green;
  }
  .services-area-2 .icon {
    background-color: $pink;
  }
  .services-area-3 .icon {
    background-color: $dark-purple;
  }
}
.areas-of-service {
  margin-top: 70px;
}
.contactUs {
  @extend %pageCenter;
  margin-top: 60px;
}
.contactUs-content {
  background: $purple-light;
  text-align: left;
  padding: 65px 0 20px;
  p {
    padding-right: 20px;
    color: $dark-grey;
  }
  .h1-title,
  .h3-title {
    margin: 0;
    padding-right: 20px;
    text-align: center;
  }
  .contactUs-content {
    padding: 0 20px;
    hr {
      width: 100%;
    }
  }
}

//For future form
// .contactUs-column-1 {
//   background: $purple-light;
//   text-align: right;
//   padding: 65px 0 20px;
//   p {
//     padding-right: 20px;
//     color: $dark-grey;
//   }
//   .h1-title,
//   .h3-title {
//     margin: 0;
//     padding-right: 20px;
//     text-align: right;
//   }
//   .contactUs-content {
//     padding: 0 20px;
//     hr {
//       width: 100%;
//     }
//   }
// }

// .contactUs-column-2 {
//   margin-top: 0;

//   .getInTouch {
//     padding: 30px;
//     hr {
//       width: 100%;
//     }
//     .h1-title {
//       text-align: left;
//     }
//   }
// }
