.areas-of-service {
  // margin: 70px auto;
  width: 50%;
  h1 {
    text-align: center;
    hr {
      width: 60%;
      left: 0;
    }
  }
  .areas-of-service-map {
    iframe {
      width: 100%;
      height: 500px;
    }
    margin: 0 auto;
  }

  .commuting-chart {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    p {
      font-size: $font-size-sm;
      color: $accents-secondary-light;
    }
    .blurb {
      margin-top: 20px !important;
    }
  }
  .services-area-1,
  .services-area-2,
  .services-area-3,
  .services-area-4,
  .services-area-5 {
    margin-top: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    p {
      margin: 0 0 0 5px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .icon {
      width: 100%;
      height: 20px;
    }
  }

  .services-area-1 .icon {
    background-color: $accents-primary-light;
  }
  .services-area-2 .icon {
    background-color: rgb(198, 69, 69);
  }
  .services-area-3 .icon {
    background-color: rgb(247, 140, 121);
  }
  .services-area-4 .icon {
    background-color: $primary;
  }
  .services-area-5 .icon {
    background-color: rgb(89, 131, 189);
  }
}

.contactUs {
  @extend %pageCenter;
  margin-top: 60px;
  background: $primary-lightest;
  padding: 65px 20px 20px;
  display: flex;
  .h1-title,
  .h3-title {
    margin: 0;
  }

  .beforeYouBookList {
    font-size: $font-size-md;
    color: $accents-secondary;
    padding-left: 0;
    li {
      list-style-type: none;
    }
  }
  .contactUs-content {
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    align-items: center;
    margin-right: 30px;
    width: 60%;
    .book-info {
      padding: 25px 0;
      * {
        padding: 5px 0;
      }
    }
    p {
      color: $accents-secondary;
      margin: 5px 0;
    }

    .h3-title a {
      color: $accents-primary;
    }
    .email-us {
      a {
        color: $accents-primary;
      }
    }
    .online-booking {
      display: inline-block;
      padding: 5px 10px;
      margin: 10px 0;
      width: 100%;
    }
  }
}
.Faq-statement {
  @extend %pageCenter;
  display: flex;
  flex-direction: column;
  margin: 40px auto;
  padding: 30px 60px 50px;
  text-align: center;
  color: $accents-secondary;
  width: fit-content;
  background-color: $primary-lighter;
  border: 2px dotted $secondary;
  border-radius: 20px;
  a:hover {
    color: $accents-primary-light;
  }
}
.client-forms {
  padding: 30px 0;
  @extend %pageCenter;
  display: flex;
  flex-direction: column;
  align-items: center;
  a:hover {
    color: $accents-primary-light;
  }
}

//For future form
// .contactUs-column-1 {
//   background: $purple-light;
//   text-align: right;
//   padding: 65px 0 20px;
//   p {
//     padding-right: 20px;
//     color: $dark-grey;
//   }
//   .h1-title,
//   .h3-title {
//     margin: 0;
//     padding-right: 20px;
//     text-align: right;
//   }
//   .contactUs-content {
//     padding: 0 20px;
//     hr {
//       width: 100%;
//     }
//   }
// }

// .contactUs-column-2 {
//   margin-top: 0;

//   .getInTouch {
//     padding: 30px;
//     hr {
//       width: 100%;
//     }
//     .h1-title {
//       text-align: left;
//     }
//   }
// }
