.Faq {
  @extend %pageCenter;

  padding: 30px;
  .h2-title {
    text-align: center;
  }
  .QA {
    max-width: $layout-breakpoint-med;
    margin-left: auto;
    margin-right: auto;
    p {
      margin-left: auto;
      margin-right: auto;
    }
  }
}

.faq-sort-by-service {
  font-size: $font-fluid-sub-nav;
  max-width: $layout-breakpoint-med;
  margin: 0 auto;

  .nav-title {
    padding: 20px;
  }
  .faq-nav-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    padding-left: 0;
    font-family: $display-font;
    li {
      margin: 7px 0;
    }
    .service-links {
      border: none;
      font-variant: small-caps;
      background-color: $primary;
      color: white;
      font-size: $font-fluid-sub-nav;

      margin: 0;
      padding: 5px 20px;
      border-radius: 10px;
      &:hover {
        background-color: $secondary;
        color: #fff;
      }
    }
  }
  .view-all-button {
    background: none;
    border: none;
    font-variant: small-caps;
    font-size: $font-fluid-sub-nav;
    color: $accents-secondary;

    span:hover {
      color: $primary;
    }
  }
}
