.Faq {
  @extend %pageCenter;

  padding: 30px;
  .h2-title {
    text-align: center;
  }
}
// .faq-backdrop {
//   background-image: url('../../../images/backdrop.jpg');
//   background-size: cover;
//   background-repeat: no-repeat;
//   background-position: center;
//   background-position-y: top;
// }
.faq-sort-by-service {
  .nav-title {
    padding: 20px;
  }
  ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    padding-left: 0;
    li {
      text-align: center;
    }
    .service-links {
      border: none;

      // background-color: $purple-light;
      // color: $dark-grey;
      // font-size: $font-nav-sm;

      margin: 0;
      padding: 5px 20px;
      border-radius: 10px;
    }
  }
  .view-all-button {
    background: none;
    border: none;
    a {
      color: $dark-grey;
      font-size: $font-size-md;
    }
  }

  img {
    width: 115px;
  }
}
