//popup background
.css-10yc0wa {
  background-color: $purple-opacity-low !important;
}

.gallery-masonry-grid {
  @extend %pageCenter;

  .tall {
    grid-row: span 2;
  }
  .wide {
    grid-column: span 2;
  }
}
.photocard {
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    background-color: $violet-light;
  }
}

// .gallery-masonry-grid a {
//   width: 100%;
//   // padding-bottom: 300px;
//   .photocard {
//     background: $purple-light;
//     // margin: 10px;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//   }
//   .tall {
//     width: 100%;
//     // min-width: 450px;
//     // min-height: 600px;
//     // height: 50vh;
//     // aspect-ratio: 3/5;
//   }
//   .wide {
//     width: 100%;
//     // min-width: 600px;
//     // min-height: 450px;
//     // aspect-ratio: 4/3;
//   }
//   .square {
//     width: 100%;
//     // min-width: 450px;
//     // min-height: 450px;
//     // aspect-ratio: 1/1;
//   }
//   img {
//     width: 100%;
//     height: 100%;
//     object-fit: cover;
//     // max-width: 100%;
//     // // height: auto;
//     vertical-align: middle;
//     display: inline-block;
//   }
// }
