.home-banner {
  display: flex;
  width: 100vw;
  align-items: center;

  &-content {
    width: 40%;
    padding-left: 10%;
    margin: 5%;
  }
  img {
    width: 60%;
    margin: 0;
  }
}
.about-us {
  @extend %pageCenter;

  .about-us-selfie {
    background-image: url('../../../images/purple-watercolor.jpg');
    background-repeat: no-repeat;
    background-position-y: -50px;
    padding: 40px 0 0 0;
    background-size: 300px;
    height: 300px;
    width: 300px;

    img {
      margin-left: 100px;
      border-radius: 50%;
      width: 200px;
      height: 200px;
    }
  }
  p {
    text-align: right;
    padding: 30px;
  }
}

.testimonials {
  @extend %pageCenter;
  background: url('../../../images/topQuote.png') top left,
    url('../../../images/bottomQuote.png') bottom right;
  background-repeat: no-repeat;
  background-size: 150px;
  height: 320px;
  padding: 90px 0 0 0;
  width: 60% !important;
  // margin: 40px auto;

  p {
    margin: 0 auto 30px;
    width: 55%;
    text-align: center;
    font-size: $font-size-lg;
  }
  .testimonial-author {
    color: $purple-light;
  }
}

.services {
  a {
    color: $dark-grey;
    text-align: center;
  }
  .banner {
    width: 100vw;
    background-repeat: no-repeat;
  }
  &-bg {
    background: $violet-light;
    width: 100vw;
    margin: 0;
  }
  &-card {
    @extend %pageCenter;
  }
  &-item-1,
  &-item-2,
  &-item-3,
  &-item-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid $dirty-gold-faded;
    padding: 10px;
    p {
      text-align: center;
      font-size: $font-size-md;
    }
    img {
      width: 150px;
      height: auto;
    }
  }
  &-item-1,
  &-item-3 {
    border-left: 0;
  }
  &-item-2,
  &-item-4 {
    border-right: 0;
  }
}
.carousel-gallery {
  height: 600px;
  margin-bottom: 80px;
}

.about-us,
.testimonial,
.services,
.gallery {
  padding: 90px 0;
}
