.services-content {
  @extend %pageCenter;
  margin-top: 20px;
  margin-bottom: 40px;
  .h2-title,
  p,
  img {
    padding: 0 20px;
  }

  .h2-title {
    text-align: left;
  }
}

.services-jump-to-service-wrapper {
  @extend %pageCenter;
  .nav-title {
    padding: 20px;
  }
  ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    padding-left: 0;
    li {
      text-align: center;
    }
    a {
      color: $dark-grey;
      font-size: $font-size-md;
      margin: 0;
      cursor: pointer;
    }
    a:hover {
      color: $dark-green;
    }
    .service-links {
      background: none;
      border: none;
    }
  }
  .view-all-button {
    background: none;
    border: none;
    span {
      color: $dark-grey;
      font-size: $font-size-md;
      margin: 0;
      cursor: pointer;
    }
    span:hover {
      color: $dark-green;
    }
  }

  img {
    width: 115px;
  }
}
.services-about-content {
  .content {
    display: inline-block;
    padding: 0 0 30px;

    .services-Img {
      float: left;
      width: 50%;
      margin: 5px;
    }
  }
}
.services-pricing {
  padding: 15px 0;
  .services-sub {
    float: left;
    width: 50%;
    padding: 10px;
    list-style: none;
    li {
      padding: 10px 0;
    }
    p {
      margin: 0;
    }
    .service-namePrice {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .serviceName {
        text-transform: capitalize;
      }
    }

    .serviceDescription {
      padding-top: 10px;
      font-size: $font-size-sm;
    }
  }
  .services-sub:nth-child(odd) {
    clear: left;
  }
  .content {
    .price,
    .serviceName {
      font-size: $font-pricing !important;
    }

    .time {
      padding-left: 10px;
      font-size: $font-size-md;
      white-space: nowrap;
    }

    .h3-title {
      padding: 0 20px 10px;
      margin-bottom: 0;
      margin-top: 0;
    }
  }
}
.services-floating-nav {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  z-index: 100;
  display: flex;
  justify-content: space-evenly;
  color: $dark-grey;
  background-color: $violet;
  width: 100%;
  align-items: center;
  padding: 10px;
  text-align: center;

  @extend %pageCenter;
  img {
    width: 30px;
  }
}
.service-top-col,
.service-bottom-col {
  color: $dark-grey;
  text-align: left;
  position: relative;
}
.service-bottom-col {
  background: $purple-light;
}

.service-top-col {
  background: $violet-light;
  margin-top: 40px;
}
.service-bottom-col-2 {
  background: $violet-light;
  color: $dark-grey;
  position: relative;
}
.service-top-col-2 {
  margin-top: 40px;
  background: $purple-light;
  color: $dark-grey;
}
.stagger-bg,
.stagger-bg-2 {
  height: 100%;
  position: relative;
  z-index: -5;
}
.stagger-bg {
  background: $purple-light;
}
.stagger-bg-2 {
  background: $violet-light;
}
