*,
:after,
:before {
  box-sizing: border-box;
}

body {
  font-family: $default-font;
  margin: 0;
}
// .main-container {
//   max-width: 1500px;
//   margin: 0 auto;
// }

//color titles
.primary {
  color: $primary;
}
.primary-dark {
  color: $primary-dark;
}
.secondary {
  color: $secondary;
}
.secondary-dark {
  color: $secondary-dark;
}
.accents-primary {
  color: $accents-primary;
}

.capitalize {
  font-variant-caps: all-petite-caps;
}
//titles
.h1-title {
  text-align: center;
  font-size: $font-title-lg;
  font-variant-caps: all-petite-caps;
}
.h2-title {
  font-size: $font-title-md;
  font-variant-caps: all-petite-caps;
}
.h3-title {
  font-size: $font-title-sm;
  font-variant-caps: all-petite-caps;
}
hr {
  width: 95%;
  border: none;
  border-top: 1px solid $secondary-light;
}
.homeUnderline {
  width: 500px;
}
//buttons
.button {
  background: $secondary;
  color: #fff;
  border: none;
  // font-size: $font-size-md;
  padding: 6px 12px;
  // width: 120px;
  border-radius: 9px;
}
.button:hover {
  background: $primary;
  color: #fff !important;
}

//text paragraphs
p {
  font-size: $font-size-sm;
}

//mock list
.ul {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}
.li {
  margin-left: 8px;
  padding: 5px 0;
}
.li::before {
  content: '•';
  padding-right: 3px;
}

//link
a,
a:active {
  color: $accents-primary;
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  color: $primary;
}
