@import './reference';

body {
  font-family: $default-font;

  // max-width: 1440px;
  margin: 0 auto;
}
.main-container {
  margin: 0 auto;
  padding: 0 20px;
}
.App {
  // display: flex;
  // flex-direction: column;
  margin: 0 auto;
}
//color titles
.primary {
  color: $dark-purple;
}
.secondary {
  color: $dark-green;
}

//titles
.h1-title {
  text-align: center;
  font-size: $font-title-lg;
}
.h2-title {
  font-size: $font-title-md;
}
.h3-title {
  font-size: $font-title-sm;
}
hr {
  width: 500px;
  border: none;
  border-top: 1px solid $dirty-gold;
}
//buttons
.button {
  background: $dark-purple;
  color: #fff;
  border: none;
  font-size: $font-size-ml;
  padding: 6px 0;
  width: 120px;
  border-radius: 9px;
}
.about-us {
  .about-us-selfie {
    display: flex;
    border-radius: 50%;
    width: 200px;
    height: 200px;

    background-image: url('../../images/temp-coverphoto.jpg');
    background-position: 5%;
    background-size: 400px;
  }
  p {
  }
}

.testimonials {
  background: url('../../images/topQuote.png') top left,
    url('../../images/bottomQuote.png') bottom right;
  background-repeat: no-repeat;
  background-size: 150px;
  height: 320px;
  padding: 90px 0 0 0;

  margin: 40px auto;

  p {
    margin: 50px auto;
    width: 550px;
    text-align: center;
    font-size: $font-size-lg;
  }
  .testimonial-author {
    color: $purple-light;
  }
}

.services {
  .banner {
    // width: 100vw;
    height: 480px;

    background: url('../../images/placeholder-2.jpg');
    background-size: cover;
    background-position: bottom;
    // background-position-y: -235px;
    background-repeat: no-repeat;
  }
  .services-1,
  .services-2,
  .services-3,
  .services-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: $violet-light;
    margin: 0;
    padding: 10px;
    border: 1px solid $dirty-gold-faded;
    img {
      width: 150px;
      height: auto;
    }
  }
}

.jump-to-service {
  display: flex;
  justify-content: space-evenly;
  width: 80%;
  img {
    width: 127px;
  }

  .nav-item-1,
  .nav-item-2,
  .nav-item-3,
  .nav-item-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.services-content {
  .h2-title,
  p,
  img {
    padding: 0 20px;
  }
}
.services-about-content {
  background: $violet-light;
  text-align: left;
  p {
    color: $grey;
  }
  .services-Img {
    width: 90%;
  }
}
.services-content .service-left-col-2 {
  padding-left: 45%;
}

.services-pricing {
  background: $purple-light;

  font-size: $font-pricing;
  color: $dark-grey;

  .services-prices {
    padding: 20px;
  }

  ul {
    list-style: none;
    padding-left: 0;
    p {
      display: inline-block;
      margin: 0;
    }
    .price {
      margin-left: 20%;
    }
  }
}

.areas-of-service {
  h1 {
    text-align: center;
    hr {
      width: 500px;
      left: 0;
    }
  }
  .serviceMap {
    width: 100%;
    margin: 0 auto;
  }
  .commuting-chart {
    display: flex;
    align-items: center;
    p {
      font-size: $font-size-sm;
      color: $grey;
      margin: 0 20% 0 10px;
    }
  }
  .services-area-1,
  .services-area-2,
  .services-area-3 {
    width: 65px;
    height: 24px;
  }
  .services-area-1 {
    background-color: $dark-green;
  }
  .services-area-2 {
    background-color: $pink;
  }
  .services-area-3 {
    background-color: $dark-purple;
  }
}

.contactContent-1 {
  background: $purple-light;
  text-align: right;
  padding: 30px 15px;
  p {
    padding-right: 20px;
    color: $dark-grey;
  }
  .h1-title,
  .h3-title {
    margin: 0;
    padding-right: 20px;
    text-align: right;
  }
}
.contactContent-2 {
}

.sort-by-service {
  ul {
    color: $dark-grey;
    font-size: $font-nav;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    padding-left: 0;
    li {
      text-align: center;
      p {
        margin: 0;
      }
    }
  }

  img {
    width: 115px;
  }
}

.getInTouch {
  padding: 20px 10px;
  background: $violet-light;
  form {
    display: flex;
    flex-direction: column;
    padding: 10px;

    input {
      height: 40px;
      border-radius: 9px;
      border: none;
      margin: 16px 0;
      padding: 5px 10px;
      color: $grey;
      font-size: $font-size-sm;
    }
    button {
      width: 100%;
      border-radius: 9px;
      background: $dark-purple;
      color: #fff;
      border: none;
      font-size: $font-size-ml;
      padding: 6px 0;
    }
  }
  img {
    width: 55px;
    padding: 0 5px;
  }
  .get-socials {
    margin: 0 auto;
    width: 130px;
  }
}

.Faq {
  background-image: url('../../images/backdrop.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: top;
  // width: 1000px;
  padding: 30px;
}
// // .full-bleed-left {
// //   width: 60vw;
// // }
// .full-bleed-right {
// }
