// @media (max-width: $layout-breakpoint-lrg) {
// }
// @media (min-width: $layout-breakpoint-med) {
//   .App {
//     max-width: 700px;
//   }
// }

@media screen and (min-width: 1200px) {
}
@media screen and (min-width: 992px) and (max-width: 1199.98px) {
}
@media screen and (min-width: 768px) and (max-width: 991.98px) {
  //Nav settings
  .App-header .dropdown-menu {
    margin-top: 0;
  }

  //overall
  p {
    font-size: $font-size-sm;
  }
  //HomePage
  .testimonials {
    background-size: 70px !important;
    height: 200px !important;
    padding-top: 60px !important;
    p {
      font-size: $font-size-sm !important;
    }
  }
  //services Page
  .services-content {
    // display: flex;
    // flex-direction: column;
    margin: 40px 0;

    .h2-title {
      text-align: center;
    }
    .services-about-content {
      margin: 0;
      z-index: 1;
      top: 0;
    }
    .services-pricing {
      p {
        font-size: $font-pricing;
      }
      z-index: 1;
    }
    .service-top-col-2,
    .service-bottom-col-2 {
      padding-left: 0 !important;
    }

    .services-pricing {
      margin: 0;
    }
  }
  //contact us page
  .contactUs-column-1 {
    grid-column: 1/12;
    p,
    .h1-title,
    .h3-title {
      text-align: left !important;
    }
    hr {
      width: 100%;
    }
  }
  .contactUs-column-2 {
    grid-column: 2/13;
    grid-row: 16/29;
  }
}

@media screen and (min-width: 576px) and (max-width: 767.98px) {
}
@media screen and (max-width: 767.98px) {
  //Nav settings
  .navbar .mainNav .nav-link:hover {
    color: white !important;
    background: $dark-purple;
  }
  .App-header {
    .dropdown-toggle:hover {
      border-top: solid #fff !important;
      border-right: solid #fff !important;
    }
  }
  //home page
  .testimonials {
    background-size: 70px !important;
    height: 200px !important;
    padding-top: 60px !important;
    p {
      font-size: $font-size-sm !important;
    }
  }

  //services page
  .services-content {
    .services-sub {
      float: left;
      width: 100% !important;
    }
    .stagger-bg-2 {
      background: $violet-light;
    }
    .stagger-bg {
      background: $purple-light;
    }
    .service-bottom-col {
      color: $grey;
    }
    .service-bottom-col-2 {
      color: $dark-grey;
    }

    .service-top-col,
    .service-bottom-col {
      background: $violet-light;
    }

    .service-top-col-2,
    .service-bottom-col-2 {
      background: $purple-light;
    }
  }
}
@media screen and (max-width: 575.98px) {
  //nav socials
  .floating-socials {
    display: none !important;
  }
  // .nav-media-socials {
  //   display: block;
  // }
  //service Page
  //jumpNav
  .jump-to-service {
    display: flex;
    flex-wrap: wrap;

    // .nav-text {
    //   flex: 160px;
    // }
    // .nav-item-1,
    // .nav-item-2,
    // .nav-item-3,
    // .nav-item-4 {
    //   flex: 1 1;
    // }
    * {
      flex: 1 1 160px;
    }
  }

  .services-content {
    width: 100%;
    .stagger-bg,
    .stagger-bg-2 {
      display: none;
    }
    .service-top-col {
      border-top: 50px solid $purple-light;
    }
    .service-bottom-col {
      border-bottom: 50px solid $purple-light;
    }
    .service-top-col-2 {
      border-top: 50px solid $violet-light;
    }
    .service-bottom-col-2 {
      border-bottom: 50px solid $violet-light;
    }
  }
}
