// //OLD Colours
// $violet: #e0cee3;
// $violet-opacity-low: #e0cee347;
// $violet-light: #f6f1f7;

// $dark-purple: #926399;
// $purple-opacity-low: #92639938;
// $purple-light: #e7dde9;

// $pink: #f1d8f5;

// $green-light: #d1e3ce;
// $green: #94ba8d;
// $dark-green: #63845d;

// $grey: #a7a7a7;
// $dark-grey: #636363;

// $gold: #d4af37;
// $dirty-gold: #ac9957;
// $dirty-gold-faded: (#ede8e5);

// Colours
$primary-dark: #6b3973;
$primary: #926399;
$primary-light: #eddeed;
$primary-lighter: #e7dde9;
$primary-lightest: #f6f1f7;

$secondary-dark: #60463c;
$secondary: #958477;
$secondary-light: #f1eae2;
$secondary-lighter: #f9f4f1;
$secondary-lightest: #fef8f4;

$accents-primary: #6b8665;
$accents-primary-light: #9eaf97;

$accents-secondary: #636363;
$accents-secondary-light: #a7a7a7;

$gold: #d4af37;
$dirty-gold: #ac9957;
$dirty-gold-faded: (#ede8e5);

//Font style
@font-face {
  font-family: 'Marmelad';
  src: url('../../fonts/Marmelad/Marmelad-Regular.ttf');
  font-weight: lighter;
}
$default-font: 'Marmelad';

//Font-size

//nav
//17px = 1.063rem
$font-nav-sm: 1.063rem;
//20px = 1.25rem
$font-nav: 1.25rem;

//pricing
//17px = 1.063rem
$font-pricing: 1.063rem;

//titles
//22px = 1.375rem
$font-title-sm: 1.375rem;
//29px = 1.813rem
$font-title-md: 1.813rem;
//42px = 2.625 rem
$font-title-lg: 2.625rem;

//text blurbs + forms
//12px = 0.75rem
$font-size-xs: 0.75rem;
//14px = 0.875rem
$font-size-sm: 0.875rem;
//17px = 1.063rem
$font-size-md: 1.063rem;
//20px = 1.25rem
$font-size-ml: 1.25rem;
//22px = 1.375rem
$font-size-lg: 1.375rem;

// Font family
$default-type: 'marmelad';

//Media break points
$layout-breakpoint-med: 960px;
$layout-breakpoint-lrg: 1440px;

%pageCenter {
  margin: 0 auto;
  width: 80%;
}
@media screen and (min-width: 576px) and (max-width: 991.98px) {
  %pageCenter {
    margin: 0 auto;
    width: 95%;
  }
}
@media screen and (max-width: 575.98px) {
  %pageCenter {
    margin: 0 auto;
    width: 99%;
  }
}
